/*------------------------ General styling ----------------------------------*/
.center {
    text-align: center;
}

html,
body {
    height: 100%!important;
}

.text-color {
    color: 006400;
}

.sub-color{
    color: green;
}

.slider-color{
    background-color: rgba(64, 232, 26, 0.7);
}

/*------------------------ Navbar ----------------------------------*/
nav {
    background-color: rgba(64, 232, 26, 0.7);
}

nav a {
    color: 006400;
}

nav ul a {
    color: 006400;

}

.navbar-brand {
    padding-left: 30px;
}

/*------------------------ header ----------------------------------*/

.main-section{
    padding-top: 5px;
}

.hero-image img{
    max-width: 100%;
}


.home-icon {
    font-size: 52px;
    margin-bottom: 15px;
    text-decoration: none;
}

.home-icon a {
    color: #2780E3;
}

.home-icon a:hover {
    text-decoration: none;
}

.home-sub-header {
    font-size: 20px;
    margin-bottom: 12px;
}

.home-sub-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.services-container{
    padding-top: 20px;
}

.icon{
    color: 008000;
}

.home-icon img{
    height: 193px;
    width: 290px;
}