/*------------------------ General styling ----------------------------------*/
.center {
    text-align: center;
}

html,
body {
    height: 100%!important;
}

.text-color {
    color: white;
}

.sub-color{
    color: white;
}

/* .slider-color{
    background-color: rgba(64, 232, 26, 0.7);
} */

/*------------------------ Navbar ----------------------------------*/
nav {
    background-color: rgba(64, 232, 26, 0.7);
}

.navbar-brand {
    padding-left: 30px;
}

/*------------------------ header ----------------------------------*/

.main-section{
    padding-top: 5px;
    background-color: #666;
} 

.hero-image img{
    text-align: center;
    max-height: 378px;
    max-width: 100%;
    display: block;
    margin: auto;
}


.home-icon {
    font-size: 52px;
    margin-bottom: 15px;
    text-decoration: none;
}

.home-icon a {
    color: #2780E3;
}

.home-icon a:hover {
    text-decoration: none;
}

.home-sub-header {
    font-size: 20px;
    margin-bottom: 12px;
}

.home-sub-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.services-container{
    padding-top: 20px;
}

.icon{
    color: 008000;
}

.home-icon img{
    height: 193px;
    width: 290px;
}

.card {
    max-width: 356px;
}
.card .card-image img {
    max-height: 255px;
    min-height: 255px;
}